<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>pool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D61F26541C96CB2300D5686D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D61F266D1C96CB2300D5686D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D61F26781C96CB2300D5686D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
